services:
  web:
    build: .
    container_name: anexo_web
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file: .env
    environment:
      DJANGO_SETTINGS_MODULE: config.settings.local
    depends_on:
      - db
      - redis
      - minio

  worker:
    build: .
    container_name: anexo_worker
    command: celery -A config worker -l info
    volumes:
      - .:/app
    env_file: .env
    environment:
      DJANGO_SETTINGS_MODULE: config.settings.local
    depends_on:
      - db
      - redis

  db:
    image: postgres:15-alpine
    container_name: anexo_db
    volumes:
      - anexo_postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"

  redis:
    image: redis:7-alpine
    container_name: anexo_redis
    ports:
      - "6379:6379"

  minio:
    image: minio/minio:latest
    container_name: anexo_minio
    command: server /data --console-address ":9001"
    volumes:
      - anexo_minio_data:/data
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    ports:
      - "9000:9000"
      - "9001:9001"

volumes:
  anexo_postgres_data:
  anexo_minio_data:
